# Backend Rails
ERPBackend/log/*
ERPBackend/tmp/*
ERPBackend/storage/*
ERPBackend/.env
ERPBackend/config/master.key
ERPBackend/node_modules/
ERPBackend/public/packs/
ERPBackend/public/assets/
ERPBackend/.DS_Store

# Frontend React Native
ERPFrontend/node_modules/
ERPFrontend/.expo/
ERPFrontend/android/build/
ERPFrontend/android/.gradle/
ERPFrontend/ios/build/
ERPFrontend/ios/Pods/
ERPFrontend/.DS_Store
ERPFrontend/*.log